<div class="modal right fade" id="modalDistributionDetail" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bản phân phối <span id="titleDistributeModal"></span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form role="form" class="formDetail">
                <div class="modal-body">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <label class="form-label">Tiêu đề:</label>
                            <div class="form-group">
                                <span id="titleDistribution" class="text-blue-light text-medium"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Giấy phép:</label>
                            <div class="form-group">
                                <span id="licenseDistribution" class="left-align text-medium"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Mô tả:</label>
                            <div class="form-group">
                                <span id="descDistribution" class="left-align text-medium"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Ngày phát hành:</label>
                            <div class="form-group">
                                <span id="issuedDistribution" class="left-align text-medium"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <label class="form-label">Ngày tạo lập:</label>
                                <div class="form-group">
                                    <span id="createdDistribution" class="left-align text-medium"></span>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="form-label">Người tạo lập:</label>
                                <div class="form-group">
                                    <span id="createdUserDistribution" class="left-align text-medium"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Tệp đính kèm:</label>
                            <div id="fileDistribution" class="form-group"></div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">API:</label>
                            <div id="apiDistribution" class="form-group"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>