@model CSDLVanHoaDuLichSonLa.Models.ViewPermissionViewModel
@{
    Layout = "_LayoutDanhMuc";
    ViewBag.Title = "Quản lý cấp độ sự kiện/hoạt động";
}

<div class="New_Table table-responsive">
    <table class="table row-border" id="dataGrid" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên cấp độ sự kiện/hoạt động</th>
                <th>Mô tả</th>
                <th>Ngôn ngữ</th>
                <th>Thứ tự</th>
                <th>Sử dụng</th>
                @if (Model.PermitedEdit > 0 || Model.PermitedDelete > 0)
                {
                    <th>Chức năng</th>
                }
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script>
        const permitedEdit = @Model.PermitedEdit
        const permitedDelete = @Model.PermitedDelete
        const loaiDanhMuc = '@ViewBag.LoaiDanhMuc'
    </script>
    <script src="/PageScripts/admin/DanhMuc/CapDo.js" asp-append-version="true"></script>
}