@model CSDLVanHoaDuLichSonLa.Models.ViewPermissionViewModel
@{
	ViewBag.Title = "Quản lý cán bộ thể thao";
}


<div class="box_content">
	<div class="TieuDe">
		<h2>Quản lý cán bộ thể thao</h2>
	</div>
	<div class="content-body">
		<div class="group-filter" style="margin-bottom:10px;">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="form-group">
						<label>Tìm kiếm</label>
						<input type="text" class="form-control search-icon" id="tu-khoa-search" placeholder="Nhập từ khóa..." maxlength="1000" />
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="form-group">
						<label>Đơn vị công tác</label>
						<select class="form-control" id="don-vi-cong-tac-search">
							<option value="-1">Tất cả</option>
						</select>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="form-group">
						<label>Giới tính</label>
						<select class="form-control" id="gioi-tinh-search">
							<option value="-1">Tất cả</option>
						</select>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="form-group">
						<label>Trạng thái</label>
						<select class="form-control" id="trang-thai-search">
							<option value="-1">Tất cả</option>
							<option value="1">Duyệt</option>
							<option value="0">Chưa duyệt</option>
						</select>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="form-group">
						<label>Ngôn ngữ</label>
						<select class="form-control" id="ngon-ngu-search">
							<option value="-1">Tất cả</option>
						</select>
					</div>
				</div>
				<div class="col-lg-9 col-md-9">
					<div class="form-group">
						<label>&nbsp;</label>
						<div class="group-button flex-end">
							<button type="button" class="btn btn-primary" id="tim-kiem">Lọc</button>
							<button type="button" class="btn btn-outline-primary" id="tat-ca">Tất cả</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="New_Table table-responsive">
			<div class="group-corner-button">
				@if (Model.PermitedCreate == 1)
				{
					<a href="@Url.Action("Add_CanBoTheThao", "NhanSu")" class="btn btn-success">Thêm mới</a>
				}
			</div>
			<table class="table row-border" id="dataGrid" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>STT</th>
						<th>Họ và tên</th>
						<th>Ngày sinh</th>
						<th>Giới tính</th>
						<th>Đơn vị công tác</th>
						<th>Số lượng môn</th>
						<th>Trạng thái</th>
						@if (Model.PermitedEdit > 0 || Model.PermitedDelete > 0)
						{
							<th>Chức năng</th>
						}
					</tr>
				</thead>
			</table>
		</div>
	</div>

	<!-- Modal delete-->
	@await Html.PartialAsync("~/Areas/AdminTool/Views/Shared/_PartialView/ModalDelete.cshtml")
</div>

@section Scripts {
	<script>
		const permitedEdit = @Model.PermitedEdit;
		const permitedDelete = @Model.PermitedDelete;
	</script>
	<script src="~/PageScripts/admin/NhanSu/CanBoTheThao/CanBoTheThao.js" asp-append-version="true"></script>
}
