@model CSDLVanHoaDuLichSonLa.Models.ViewPermissionViewModel

<div class="box_content">
    <div class="TieuDe">
        <h2>Quản lý người dùng</h2>
    </div>
    <div class="content-body">
        <div class="group-filter">
            <div class="row">
                <div class="col-md-3 form-group">
                    <input type="text" class="form-control search-icon" id="tu-khoa" placeholder="Tìm kiếm..." maxlength="1000" />
                </div>
                <div class="col-md-3 form-group">
                    <select class="form-control" id="org-search" placeholder="Phòng ban"></select>
                </div>
                <div class="col-md-3 form-group">
                    <select class="form-control" id="stt-search" placeholder="Trạng thái"> 
                        <option value="">Tất cả</option>
                        <option value="0">Đã xác thực</option>
                        <option value="1">Chưa xác thực</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <div class="group-button flex-end">
                        <button type="button" class="btn btn-primary" id="tim-kiem">Lọc</button>
                        <button type="button" class="btn btn-outline-primary" id="tat-ca">Tất cả</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="New_Table table-responsive">
            @if (Model.PermitedCreate == 1)
            {
                <div class="group-button flex-end">
                    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modalAdd">Thêm mới</button>
                </div>
            }    
            <table class="table row-border" id="dataGrid" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Stt</th>
                        <th>Tên truy cập</th>
                        <th>Họ và tên</th>
                        <th>Email</th>
                        <th>Đơn vị</th>
                        <th>Vai trò</th>
                        <th>Trạng thái</th>
                        @if (Model.PermitedEdit > 0 || Model.PermitedDelete > 0)
                        {
                            <th>Chức năng</th>
                        }
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    
    <!-- Modal add-->
    <div class="modal side-modal fade" id="modalAdd" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm mới người dùng</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <form role="form" id="formAdd">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="tenTruyCapAdd" class="form-label">Tên truy cập<span class="text-red"> *</span></label>
                            <input type="text" class="form-control field-input" id="tenTruyCapAdd" placeholder="Nhập tên truy cập" autocomplete="off">
                            <span id="notifi_tenTruyCapAdd" class="validation-msg d-none">Vui lòng nhập thông tin!</span>
                        </div>
                        <div class="form-group">
                            <label for="matKhauAdd" class="form-label">Mật khẩu<span class="text-red"> *</span></label>
                            <div class="position-relative field-password">
                                <input type="password" class="form-control field-input" id="matKhauAdd" placeholder="Nhập mật khẩu" autocomplete="off"/>
                                <div class="form-control-position form-control-position-right cursor-pointer">
                                    <i class="icon-fluent icon_fluent_eye_off_filled showPassword text-gray"></i>
                                </div>
                            </div>
                            <span id="notifi_matKhauAdd" class="validation-msg d-none">Vui lòng nhập thông tin!</span>
                        </div>
                        <div class="form-group">
                            <label for="hoTenAdd" class="form-label">Họ và tên<span class="text-red"> *</span></label>
                            <input type="text" class="form-control field-input" id="hoTenAdd" placeholder="Nhập họ tên" autocomplete="off" />
                            <span id="notifi_hoTenAdd" class="validation-msg d-none">Vui lòng nhập thông tin!</span>
                        </div>
                        <div class="form-group">
                            <label for="hopThuAdd" class="form-label">Hộp thư<span class="text-red"> *</span></label>
                            <input type="text" class="form-control field-input" id="hopThuAdd" placeholder="Nhập hộp thư" autocomplete="off" />
                            <span id="notifi_hopThuAdd" class="validation-msg d-none">Vui lòng nhập thông tin!</span>
                        </div>
                        <div class="form-group">
                            <label for="select_toChucAdd" class="form-label">Tổ chức</label>
                            <select id="select_toChucAdd" class="form-control" data-placeholder="Chọn tổ chức">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="select_vaiTroAdd" class="form-label">Vai trò</label>
                            <select id="select_vaiTroAdd" class="form-control" multiple data-placeholder="Chọn vai trò">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Hủy bỏ</button>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
    <!-- Modal edit-->
    <div class="modal side-modal fade" id="modalEdit" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cập nhật người dùng <span id="ttcEdit"></span></h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <form role="form" id="formEdit">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="tenTruyCapEdit" class="form-label">Tên truy cập</label>
                            <input type="text" class="form-control field-input" id="tenTruyCapEdit" disabled />
                        </div>
                        <div class="form-group">
                            <label for="hoTenEdit" class="form-label">Họ và tên<span class="text-red"> *</span></label>
                            <input type="text" class="form-control field-input" id="hoTenEdit" placeholder="Nhập họ tên" autocomplete="off" />
                            <span id="notifi_hoTenEdit" class="validation-msg d-none">Vui lòng nhập thông tin!</span>
                        </div>
                        <div class="form-group">
                            <label for="hopThuEdit" class="form-label">Hộp thư<span class="text-red"> *</span></label>
                            <input type="text" class="form-control field-input" id="hopThuEdit" placeholder="Nhập hộp thư" autocomplete="off" />
                            <span id="notifi_hopThuEdit" class="validation-msg d-none">Vui lòng nhập thông tin!</span>
                        </div>
                        <div class="form-group">
                            <label for="select_toChucEdit" class="form-label">Tổ chức</label>
                            <select id="select_toChucEdit" class="form-control" data-placeholder="Chọn tổ chức">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="select_vaiTroEdit" class="form-label">Vai trò</label>
                            <select id="select_vaiTroEdit" class="form-control" data-placeholder="Chọn vai trò" multiple>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Hủy bỏ</button>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
    
    <!-- Modal reset password-->
    <div class="modal side-modal fade" id="modalResetPass" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Đổi mật khẩu người dùng <span id="ttcReset"></span></h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <form role="form" id="formResetPass">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="tenTruyCapReset" class="form-label">Tên truy cập</label>
                            <input type="text" class="form-control field-input" id="tenTruyCapReset" disabled />
                        </div>
                        <div class="form-group">
                            <label for="matKhauReset" class="form-label">Mật khẩu<span class="text-red"> *</span></label>
                            <div class="position-relative field-password">
                                <input type="password" class="form-control field-input" id="matKhauReset" placeholder="Nhập mật khẩu" autocomplete="off" />
                                <div class="form-control-position form-control-position-right cursor-pointer">
                                    <i class="icon-fluent icon_fluent_eye_off_filled showPassword text-gray"></i>
                                </div>
                            </div>
                            <span id="notifi_matKhauReset" class="validation-msg d-none">Vui lòng nhập thông tin!</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Hủy bỏ</button>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
    
    <!-- Modal Lock-->
    <div class="modal fade modal-delete" id="modalLock" tabindex="-1" role="dialog" aria-labelledby="modalLabelDelete" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form role="form" id="formLock">
                    <div class="modal-body">
                        <input type="hidden" class="form-control" id="userNameLock">
                        <div class="Delete_info">
                            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="80" height="80" rx="16" fill="#FCE7E5"/>
                                <path d="M40 52.0003V46.667" stroke="#E31400" stroke-width="4" stroke-linecap="round"/>
                                <path d="M19.3809 58.2525C19.9806 62.7067 23.6698 66.196 28.1592 66.4024C31.9368 66.576 35.7742 66.6667 40.0001 66.6667C44.226 66.6667 48.0633 66.576 51.8409 66.4024C56.3305 66.196 60.0196 62.7067 60.6193 58.2525C61.0105 55.3459 61.3334 52.3669 61.3334 49.3333C61.3334 46.2997 61.0105 43.3208 60.6193 40.4141C60.0196 35.96 56.3305 32.4706 51.8409 32.2642C48.0633 32.0906 44.226 32 40.0001 32C35.7742 32 31.9368 32.0906 28.1592 32.2642C23.6698 32.4706 19.9806 35.96 19.3809 40.4141C18.9895 43.3208 18.6667 46.2997 18.6667 49.3333C18.6667 52.3669 18.9895 55.3459 19.3809 58.2525Z" stroke="#E31400" stroke-width="4"/>
                                <path d="M28 31.9997V25.333C28 18.7056 33.3726 13.333 40 13.333C46.6275 13.333 52 18.7056 52 25.333V31.9997" stroke="#E31400" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <div class="warning">
                                <span>Bạn có chắc chắn muốn khóa tài khoản </span><span id="tenLock" class="red-text"></span></span>
                            </div>
                        </div>
                        <div class="group-button-center">
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Hủy bỏ</button>
                            <button type="submit" class="btn btn-danger">Đồng ý</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal UnLock-->
    <div class="modal fade modal-delete" id="modalUnLock" tabindex="-1" role="dialog" aria-labelledby="modalLabelDelete" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form role="form" id="formUnLock">
                        <input type="hidden" class="form-control" id="userNameUnLock">
                        <div class="Delete_info">
                            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="80" height="80" rx="16" fill="#FCE7E5"/>
                                <path d="M40 52.0003V46.667" stroke="#E31400" stroke-width="4" stroke-linecap="round"/>
                                <path d="M19.3809 58.2525C19.9806 62.7067 23.6698 66.196 28.1592 66.4024C31.9368 66.576 35.7742 66.6667 40.0001 66.6667C44.226 66.6667 48.0633 66.576 51.8409 66.4024C56.3305 66.196 60.0196 62.7067 60.6193 58.2525C61.0105 55.3459 61.3334 52.3669 61.3334 49.3333C61.3334 46.2997 61.0105 43.3208 60.6193 40.4141C60.0196 35.96 56.3305 32.4706 51.8409 32.2642C48.0633 32.0906 44.226 32 40.0001 32C35.7742 32 31.9368 32.0906 28.1592 32.2642C23.6698 32.4706 19.9806 35.96 19.3809 40.4141C18.9895 43.3208 18.6667 46.2997 18.6667 49.3333C18.6667 52.3669 18.9895 55.3459 19.3809 58.2525Z" stroke="#E31400" stroke-width="4"/>
                                <path d="M28 31.9997V25.333C28 18.7056 33.3726 13.333 40 13.333C46.6275 13.333 52 18.7056 52 25.333V31.9997" stroke="#E31400" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <div class="warning">
                                <span>Bạn có chắc chắn muốn mở khóa tài khoản </span><span id="tenUnLock" class="red-text"></span></span>
                            </div>
                        </div>
                        <div class="group-button-center">
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Hủy bỏ</button>
                            <button type="submit" class="btn btn-secondary">Đồng ý</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const isAdmin = @ViewBag.isAdmin;
        const orgUniqueCode = '@ViewBag.orgUniqueCode';

        const permitedEdit = @Model.PermitedEdit
        const permitedDelete = @Model.PermitedDelete
    </script>
    <script src="~/PageScripts/admin/TaiKhoan.js" asp-append-version="true"></script>
}