/* Figma Styles of your File */
:root {
  /* Colors */
  --primary-25: #ebf2f2;
  --primary-50: #d6e5e5;
  --primary-100: #c2d9d9;
  --primary-200: #adcdcc;
  --primary-300: #85b3b1;
  --primary-400: #33817e;
  --primary-500: #00615e;
  --primary-600: #004e4b;
  --primary-700: #003a38;
  --primary-800: #002726;
  --primary-900: #001d1c;
  --primary-950: #000a09;
  --secondary-25: #fffae6;
  --secondary-50: #fff4cd;
  --secondary-100: #ffefb4;
  --secondary-200: #ffea9b;
  --secondary-300: #fedf69;
  --secondary-400: #fed537;
  --secondary-500: #feca05;
  --secondary-600: #cba204;
  --secondary-700: #987903;
  --secondary-800: #665102;
  --secondary-900: #4c3d02;
  --secondary-950: #332801;
  --background-bg-counter-primary: #4a5565;
  --background-bg-counter-secondary: #e5e7eb;
  --background-bg-disabled: #f3f4f6;
  --background-bg-hover: #f9fafb;
  --background-bg-info: #eff6ff;
  --background-bg-link: #f0f9ff;
  --background-bg-error: #fce7e5;
  --background-bg-warning: #fff7ed;
  --background-bg-away: #fffbeb;
  --background-bg-success: #ecfdf5;
  --background-bg-white: #ffffff;
  --content-text-primary: #101828;
  --content-text-secondary: #4a5565;
  --content-text-tertiary: #99a1af;
  --content-text-white: #ffffff;
  --border-border-primary: #d1d5dc;
  --border-border-secondary: #e5e7eb;
  --border-border-error: #ffe2e2;
  --border-border-warning: #ffedd4;
  --border-border-away: #fef3c6;
  --border-border-success: #d0fae5;
  --border-border-info: #dbeafe;
  --border-border-link: #dff2fe;
  --border-border-white: #ffffff;
  --state-success: #009966;
  --state-error: #e31400;
  --state-link: #00a6f4;
  --state-info: #1447e6;
  --state-warning: #ff6900;
  --state-away: #ffb900;

  /* Fonts */
  --lato-display-small-font-family: Lato-ExtraBold, sans-serif;
  --lato-display-small-font-size: 36px;
  --lato-display-small-line-height: 44px;
  --lato-display-small-font-weight: 800;
  --lato-display-small-font-style: normal;
  --lato-display-medium-font-family: Lato-ExtraBold, sans-serif;
  --lato-display-medium-font-size: 45px;
  --lato-display-medium-line-height: 52px;
  --lato-display-medium-font-weight: 800;
  --lato-display-medium-font-style: normal;
  --lato-display-large-font-family: Lato-ExtraBold, sans-serif;
  --lato-display-large-font-size: 57px;
  --lato-display-large-line-height: 64px;
  --lato-display-large-font-weight: 800;
  --lato-display-large-font-style: normal;
  --lato-headline-small-font-family: Lato-Bold, sans-serif;
  --lato-headline-small-font-size: 24px;
  --lato-headline-small-line-height: 32px;
  --lato-headline-small-font-weight: 700;
  --lato-headline-small-font-style: normal;
  --lato-headline-medium-font-family: Lato-Bold, sans-serif;
  --lato-headline-medium-font-size: 28px;
  --lato-headline-medium-line-height: 36px;
  --lato-headline-medium-font-weight: 700;
  --lato-headline-medium-font-style: normal;
  --lato-headline-large-font-family: Lato-Bold, sans-serif;
  --lato-headline-large-font-size: 32px;
  --lato-headline-large-line-height: 40px;
  --lato-headline-large-font-weight: 700;
  --lato-headline-large-font-style: normal;
  --lato-title-small-font-family: Lato-Bold, sans-serif;
  --lato-title-small-font-size: 14px;
  --lato-title-small-line-height: 20px;
  --lato-title-small-font-weight: 700;
  --lato-title-small-font-style: normal;
  --lato-title-medium-font-family: Lato-Bold, sans-serif;
  --lato-title-medium-font-size: 16px;
  --lato-title-medium-line-height: 24px;
  --lato-title-medium-font-weight: 700;
  --lato-title-medium-font-style: normal;
  --lato-title-large-font-family: Lato-Bold, sans-serif;
  --lato-title-large-font-size: 20px;
  --lato-title-large-line-height: 28px;
  --lato-title-large-font-weight: 700;
  --lato-title-large-font-style: normal;
  --lato-body-small-font-family: Lato-Regular, sans-serif;
  --lato-body-small-font-size: 12px;
  --lato-body-small-line-height: 16px;
  --lato-body-small-font-weight: 400;
  --lato-body-small-font-style: normal;
  --lato-body-medium-font-family: Lato-Regular, sans-serif;
  --lato-body-medium-font-size: 14px;
  --lato-body-medium-line-height: 20px;
  --lato-body-medium-font-weight: 400;
  --lato-body-medium-font-style: normal;
  --lato-body-large-font-family: Lato-Regular, sans-serif;
  --lato-body-large-font-size: 16px;
  --lato-body-large-line-height: 24px;
  --lato-body-large-font-weight: 400;
  --lato-body-large-font-style: normal;
  --lato-label-small-font-family: Lato-Bold, sans-serif;
  --lato-label-small-font-size: 11px;
  --lato-label-small-line-height: 16px;
  --lato-label-small-font-weight: 700;
  --lato-label-small-font-style: normal;
  --lato-label-medium-font-family: Lato-Bold, sans-serif;
  --lato-label-medium-font-size: 12px;
  --lato-label-medium-line-height: 16px;
  --lato-label-medium-font-weight: 700;
  --lato-label-medium-font-style: normal;
  --lato-label-large-font-family: Lato-Bold, sans-serif;
  --lato-label-large-font-size: 14px;
  --lato-label-large-line-height: 20px;
  --lato-label-large-font-weight: 700;
  --lato-label-large-font-style: normal;
  --playfair-display-display-small-font-family: PlayfairDisplay-Bold, sans-serif;
  --playfair-display-display-small-font-size: 36px;
  --playfair-display-display-small-line-height: 44px;
  --playfair-display-display-small-font-weight: 700;
  --playfair-display-display-small-font-style: normal;
  --playfair-display-display-medium-font-family: PlayfairDisplay-ExtraBold,
    sans-serif;
  --playfair-display-display-medium-font-size: 45px;
  --playfair-display-display-medium-line-height: 52px;
  --playfair-display-display-medium-font-weight: 800;
  --playfair-display-display-medium-font-style: normal;
  --playfair-display-display-large-font-family: PlayfairDisplay-ExtraBold,
    sans-serif;
  --playfair-display-display-large-font-size: 57px;
  --playfair-display-display-large-line-height: 64px;
  --playfair-display-display-large-font-weight: 800;
  --playfair-display-display-large-font-style: normal;
  --playfair-display-headline-small-font-family: PlayfairDisplay-Bold,
    sans-serif;
  --playfair-display-headline-small-font-size: 24px;
  --playfair-display-headline-small-line-height: 32px;
  --playfair-display-headline-small-font-weight: 700;
  --playfair-display-headline-small-font-style: normal;
  --playfair-display-headline-medium-font-family: PlayfairDisplay-Bold,
    sans-serif;
  --playfair-display-headline-medium-font-size: 28px;
  --playfair-display-headline-medium-line-height: 36px;
  --playfair-display-headline-medium-font-weight: 700;
  --playfair-display-headline-medium-font-style: normal;
  --playfair-display-headline-large-font-family: PlayfairDisplay-Bold,
    sans-serif;
  --playfair-display-headline-large-font-size: 32px;
  --playfair-display-headline-large-line-height: 40px;
  --playfair-display-headline-large-font-weight: 700;
  --playfair-display-headline-large-font-style: normal;
  --playfair-display-title-small-font-family: PlayfairDisplay-Bold, sans-serif;
  --playfair-display-title-small-font-size: 14px;
  --playfair-display-title-small-line-height: 20px;
  --playfair-display-title-small-font-weight: 700;
  --playfair-display-title-small-font-style: normal;
  --playfair-display-title-medium-font-family: PlayfairDisplay-Bold, sans-serif;
  --playfair-display-title-medium-font-size: 16px;
  --playfair-display-title-medium-line-height: 24px;
  --playfair-display-title-medium-font-weight: 700;
  --playfair-display-title-medium-font-style: normal;
  --playfair-display-title-large-font-family: PlayfairDisplay-Bold, sans-serif;
  --playfair-display-title-large-font-size: 20px;
  --playfair-display-title-large-line-height: 28px;
  --playfair-display-title-large-font-weight: 700;
  --playfair-display-title-large-font-style: normal;
  --playfair-display-body-small-font-family: PlayfairDisplay-Regular, sans-serif;
  --playfair-display-body-small-font-size: 12px;
  --playfair-display-body-small-line-height: 16px;
  --playfair-display-body-small-font-weight: 400;
  --playfair-display-body-small-font-style: normal;
  --playfair-display-body-medium-font-family: PlayfairDisplay-Regular,
    sans-serif;
  --playfair-display-body-medium-font-size: 14px;
  --playfair-display-body-medium-line-height: 20px;
  --playfair-display-body-medium-font-weight: 400;
  --playfair-display-body-medium-font-style: normal;
  --playfair-display-body-large-font-family: PlayfairDisplay-Regular, sans-serif;
  --playfair-display-body-large-font-size: 16px;
  --playfair-display-body-large-line-height: 24px;
  --playfair-display-body-large-font-weight: 400;
  --playfair-display-body-large-font-style: normal;
  --playfair-display-label-small-font-family: PlayfairDisplay-SemiBold,
    sans-serif;
  --playfair-display-label-small-font-size: 11px;
  --playfair-display-label-small-line-height: 16px;
  --playfair-display-label-small-font-weight: 600;
  --playfair-display-label-small-font-style: normal;
  --playfair-display-label-medium-font-family: PlayfairDisplay-SemiBold,
    sans-serif;
  --playfair-display-label-medium-font-size: 12px;
  --playfair-display-label-medium-line-height: 16px;
  --playfair-display-label-medium-font-weight: 600;
  --playfair-display-label-medium-font-style: normal;
  --playfair-display-label-large-font-family: PlayfairDisplay-SemiBold,
    sans-serif;
  --playfair-display-label-large-font-size: 14px;
  --playfair-display-label-large-line-height: 20px;
  --playfair-display-label-large-font-weight: 600;
  --playfair-display-label-large-font-style: normal;

  /* Effects */
}
/* Figma Color Variables of your File */
