@model CSDLVanHoaDuLichSonLa.Models.ViewPermissionViewModel
@{
    ViewBag.Title = ViewBag.IsEdit ? $"Chỉnh sửa lễ hội" : "Thêm mới lễ hội";
}

<div class="box_content">
    <div class="TieuDe">
        <h2>Quản lý lễ hội</h2>
    </div>
    <div class="content-body">
        <ul class="nav nav-tabs" id="TabLeHoi" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="ThongTinLeHoi-tab" data-toggle="tab" href="#ThongTinLeHoi" role="tab" aria-controls="ThongTinLeHoi" aria-selected="true">Thông tin lễ hội</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="ViTriBanDo-tab" data-toggle="tab" href="#ViTriBanDo" role="tab" aria-controls="ViTriBanDo" aria-selected="false">Tọa độ, vị trí bản đồ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="DaPhuongTien-tab" data-toggle="tab" href="#DaPhuongTien" role="tab" aria-controls="DaPhuongTien" aria-selected="false">Đa phương tiện</a>
            </li>
        </ul>
        <div class="tab-content" id="TabContent">
            <div class="tab-pane fade show active" id="ThongTinLeHoi" role="tabpanel" aria-labelledby="ThongTinLeHoi-tab">
                <form id="formLeHoiEdit">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">
                            <div class="form-group">
                                <label for="maDinhDanhEdit">Mã định danh</label>
                                <input type="text" class="form-control" id="maDinhDanhEdit" placeholder="Nhập mã định danh" />
                            </div>
                        </div>
                        <!-- <div class="col-lg-9 col-md-12">
                            <div class="form-group">
                                <label for="tenLeHoiEdit">Tên lễ hội <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="tenLeHoiEdit" placeholder="Nhập tên lễ hội" />
                            </div>
                        </div> -->
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label for="theLoaiEdit">Thể loại <span class="text-danger">*</span></label>
                                <select class="form-control" id="theLoaiEdit">
                                    <option value="">Chọn</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label for="capDoEdit">Cấp độ <span class="text-danger">*</span></label>
                                <select class="form-control" id="capDoEdit">
                                    <option value="">Chọn</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label for="capQuanLyEdit">Cấp quản lý</label>
                                <select class="form-control" id="capQuanLyEdit">
                                    <option value="">Chọn</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label for="tanSuatEdit">Tần suất <span class="text-danger">*</span></label>
                                <select class="form-control" id="tanSuatEdit">
                                    <option value="">Chọn</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="thoiGianDienRaEdit">Thời gian diễn ra</label>
                                <input type="text" class="form-control" id="thoiGianDienRaEdit" placeholder="Nhập Thời gian diễn ra" />
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label for="soNgayDienRaEdit">Số ngày diễn ra</label>
                                <input type="number" class="form-control" id="soNgayDienRaEdit" min="0" placeholder="Nhập số ngày diễn ra" />
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label for="soLuongThamGiaEdit">Số lượng tham gia</label>
                                <input type="number" class="form-control" id="soLuongThamGiaEdit" min="0" placeholder="Nhập số lượng tham gia" />
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label for="donViToChucEdit">Đơn vị tổ chức</label>
                                <select class="form-control" id="donViToChucEdit">
                                    <option value="">Chọn</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label for="namVHPHTQGEdit">Năm đưa vào danh mục di sản VHPVT quốc gia</label>
                                <input type="number" class="form-control" id="namVHPHTQGEdit" min="0" placeholder="Nhập năm" />
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label for="danTocEdit">Dân tộc</label>
                                <select class="form-control" id="danTocEdit">
                                    <option value="">Chọn</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label for="">Là loại lễ hội</label>
                                <div class="div_checkbox">
                                    <div class="groupcheckbox">
                                        <input type="checkbox" id="laTieuBieuEdit" />
                                        <label for="laTieuBieuEdit">Tiêu biểu</label>
                                    </div>
                                    <div class="groupcheckbox">
                                        <input type="checkbox" id="laCungDinhEdit" />
                                        <label for="laCungDinhEdit">Cung đình</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label>Trạng thái tổ chức</label>
                                <div class="div_radiobox">
                                    <div class="groupradiobox">
                                        <input type="radio" name="trangThaiToChucEdit" id="trangThaiToChucDuyetEdit" value="1" checked>
                                        <label for="trangThaiToChucDuyetEdit">Đang tổ chức</label>
                                    </div>
                                    <div class="groupradiobox">
                                        <input type="radio" name="trangThaiToChucEdit" id="trangThaiToChucKhongDuyetEdit" value="0">
                                        <label for="trangThaiToChucKhongDuyetEdit">Không tổ chức</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label>Trạng thái <span class="text-danger">*</span></label>
                                <div class="div_radiobox">
                                    <div class="groupradiobox">
                                        <input class="form-check-input" type="radio" name="trangThaiEdit" id="trangThaiDuyetEdit" value="1" checked>
                                        <label class="form-check-label" for="trangThaiDuyetEdit">Duyệt</label>
                                    </div>
                                    <div class="groupradiobox">
                                        <input class="form-check-input" type="radio" name="trangThaiEdit" id="trangThaiChuaDuyetEdit" value="0">
                                        <label class="form-check-label" for="trangThaiChuaDuyetEdit">Chưa duyệt</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Đa ngữ -->
                    <div class="DaNgu">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <label for="ngonNguDichEdit">Ngôn ngữ dịch</label>
                                    <select class="form-control" id="ngonNguDichEdit">
                                        <option value="">Chọn ngôn ngữ</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <label for="tenLeHoiDichEdit">Tên lễ hội <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="tenLeHoiDichEdit" placeholder="Nhập tên lễ hội" />
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <label for="diaChiEdit">Địa chỉ</label>
                                    <input type="text" class="form-control" id="diaChiEdit" placeholder="Nhập địa chỉ" />
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <label for="donViPhoiHopEdit">Đơn vị phối hợp</label>
                                    <input type="text" class="form-control" id="donViPhoiHopEdit" placeholder="Nhập đơn vị phối hợp" />
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <label for="nhanVatPhungThoEdit">Nhân vật phụng thờ</label>
                                    <input type="text" class="form-control" id="nhanVatPhungThoEdit" placeholder="Nhập nhân vật phụng thờ" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="gioiThieuLeHoiEdit">Giới thiệu lễ hội</label>
                                    <textarea class="form-control" id="gioiThieuLeHoiEdit" rows="3" placeholder="Nhập giới thiệu lễ hội"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="quyDinhEdit">Quy định</label>
                                    <textarea class="form-control" id="quyDinhEdit" rows="3" placeholder="Nhập quy định"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="danhGiaEdit">Đánh giá</label>
                                    <textarea class="form-control" id="danhGiaEdit" rows="3" placeholder="Nhập đánh giá"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="ViTriBanDo" role="tabpanel" aria-labelledby="ViTriBanDo-tab">
                <!-- <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label>Địa điểm</label>
                            <div class="div_radiobox">
                                <div class="groupradiobox">
                                    <input type="radio" name="DiaDiemBanDoEdit" id="DiaDiemCoSanEdit" value="1" checked>
                                    <label for="DiaDiemCoSanEdit">Sử dụng địa điểm có sẵn</label>
                                </div>
                                <div class="groupradiobox">
                                    <input type="radio" name="DiaDiemBanDoEdit" id="ThemDiaDiemMoiEdit" value="0">
                                    <label for="ThemDiaDiemMoiEdit">Thêm địa điểm mới</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div id="DiaDiemCoSan">
                    <div class="form-group">
                        <label for="DiaDiemCoSanEdit">Chọn địa điểm có sẵn <span class="text-danger">*</span></label>
                        <select class="form-control" id="DiaDiemCoSanEdit" multiple="multiple">
                            <option value="">Chọn</option>
                        </select>
                    </div>
                </div>
                <div id="ThemDiaDiemMoi">
                    <div class="New_Table table-responsive">
                        <div class="group-corner-button with-title">
                            <h4>Danh sách địa điểm mới</h4>
                            <div class="group-button flex-end">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalEditDiaDiem" id="btnModalEditDiaDiem">Thêm mới</button>
                            </div>
                        </div>
                        <table class="table row-border" id="dataGridDiaDiem" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên địa điểm</th>
                                    <th>Địa chỉ</th>
                                    <th>Tọa độ</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="DaPhuongTien" role="tabpanel" aria-labelledby="DaPhuongTien-tab">
                <div id="ThemDaPhuongTien">
                    <div class="New_Table table-responsive">
                        <div class="group-corner-button with-title">
                            <h4>Danh sách đa phương tiện</h4>
                            <div class="group-button flex-end">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalEditDaPhuongTien" id="btnEditDaPhuongTien">Thêm mới</button>
                            </div>
                        </div>
                        <table class="table row-border" id="dataGridDaPhuongTien" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tiêu đề</th>
                                    <th>Loại Media</th>
                                    <th>Tác giả</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="group-button flex-end">
                        <a href="@Url.Action("LeHoi", "LeHoi")" class="btn btn-outline-primary">Hủy bỏ</a>
                        <button type="button" class="btn btn-primary" id="btnSaveEdit">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Thêm địa điểm mới -->
    <div class="modal side-modal fade" id="modalEditDiaDiem" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalEditDiaDiemTitle">Thêm địa điểm mới</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <form role="form" id="formEditDiaDiem">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label for="linhVucEdit">Lĩnh vực</label>
                                    <select class="form-control" id="linhVucEdit">
                                        <option value="">Chọn</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label for="tinhThanhPhoEdit">Tỉnh/Thành phố</label>
                                    <select class="form-control" id="tinhThanhPhoEdit">
                                        <option value="">Chọn</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label for="phuongXaEdit">Phường/Xã/Đặc khu</label>
                                    <select class="form-control" id="phuongXaEdit">
                                        <option value="">Chọn</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label for="kinhDoEdit">Kinh độ</label>
                                    <input type="text" class="form-control" id="kinhDoEdit" placeholder="Nhập kinh độ" />
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label for="viDoEdit">Vĩ độ</label>
                                    <input type="text" class="form-control" id="viDoEdit" placeholder="Nhập vĩ độ" />
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label for="caoDoEdit">Cao độ</label>
                                    <input type="text" class="form-control" id="caoDoEdit" placeholder="Nhập cao độ" />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="">Tùy chọn</label>
                                    <div class="div_checkbox">
                                        <div class="groupcheckbox">
                                            <input type="checkbox" id="nguoiKhuyetTatEdit" />
                                            <label for="nguoiKhuyetTatEdit">Người khuyết tật</label>
                                        </div>
                                        <div class="groupcheckbox">
                                            <input type="checkbox" id="nhaVeSinhEdit" />
                                            <label for="nhaVeSinhEdit">Nhà vệ sinh</label>
                                        </div>
                                        <div class="groupcheckbox">
                                            <input type="checkbox" id="baiDoXeEdit" />
                                            <label for="baiDoXeEdit">Bãi đỗ xe</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Đa ngữ -->
                        <div class="DaNgu">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="ngonNguDichDiaDiemEdit">Ngôn ngữ dịch</label>
                                        <select class="form-control" id="ngonNguDichDiaDiemEdit">
                                            <option value="">Chọn ngôn ngữ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="thoiGianHoatDongDichEdit">Thời gian hoạt động</label>
                                        <input type="text" class="form-control" id="thoiGianHoatDongDichEdit" placeholder="Nhập thời gian hoạt động" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="tenDiaDiemDichEdit">Tên địa điểm</label>
                                        <input type="text" class="form-control" id="tenDiaDiemDichEdit" placeholder="Nhập tên địa điểm" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="sucChuaDichEdit">Sức chứa</label>
                                        <input type="number" class="form-control" id="sucChuaDichEdit" min="0" placeholder="Nhập sức chứa" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-12">
                                    <div class="form-group">
                                        <label for="diaChiDichEdit">Địa chỉ</label>
                                        <input type="text" class="form-control" id="diaChiDichEdit" placeholder="Nhập địa chỉ" />
                                    </div>
                                </div>
                                <!-- <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="heToaDoDichEdit">Hệ tọa độ</label>
                                        <input type="text" class="form-control" id="heToaDoDichEdit" placeholder="Nhập hệ tọa độ" />
                                    </div>
                                </div> -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="moTaDichEdit">Mô tả</label>
                                        <textarea class="form-control" id="moTaDichEdit" rows="3" placeholder="Nhập mô tả"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Huỷ bỏ</button>
                        <button type="button" class="btn btn-primary" id="btnEditDiaDiem">Lưu</button>
                    </div>
                </form>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->

    <!-- Modal Thêm đa phương tiện mới -->
    <div class="modal side-modal fade" id="modalEditDaPhuongTien" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalEditDaPhuongTienTitle">Thêm đa phương tiện mới</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <form role="form" id="formEditDaPhuongTien">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Loại Media</label>
                                    <div class="div_radiobox">
                                        <div class="groupradiobox">
                                            <input type="radio" name="loaiMediaDPT" id="check_hinhAnhEdit" value="1" checked>
                                            <label for="check_hinhAnhEdit">Hình ảnh</label>
                                        </div>
                                        <div class="groupradiobox">
                                            <input type="radio" name="loaiMediaDPT" id="check_videoEdit" value="2">
                                            <label for="check_videoEdit">Video</label>
                                        </div>
                                        <div class="groupradiobox">
                                            <input type="radio" name="loaiMediaDPT" id="check_amThanhEdit" value="3">
                                            <label for="check_amThanhEdit">Âm thanh</label>
                                        </div>
                                        <div class="groupradiobox">
                                            <input type="radio" name="loaiMediaDPT" id="check_fileKhacEdit" value="4">
                                            <label for="check_fileKhacEdit">File</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 form-group" id="fileHinhAnh">
                                <label for="hinhAnhEdit" class="form-label">Hình ảnh <span class="text-danger">*</span></label>
                                <div class="group_image_input">
                                    <input id="fileDPT" type="file" accept=".jpg,.jpeg,.png,.gif,.webp,.bmp">
                                    <label for="fileDPT">
                                        <img id="showhinhAnhEdit" width="125" height="125" src="/assets/images/vector/AddImage.png">
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 form-group d-none" id="fileVideo">
                                <label for="videoEdit" class="form-label">Video</label>
                            </div>
                            <div class="col-lg-3 col-md-6 form-group d-none" id="fileAmThanh">
                                <label for="amThanhEdit" class="form-label">Âm thanh</label>
                            </div>
                            <div class="col-lg-3 col-md-6 form-group d-none" id="fileKhac">
                                <label for="fileKhacEdit" class="form-label">File khác</label>
                            </div>
                            <div class="col-lg-9 col-md-12 form-group">
                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-12">
                                        <label for="tacGiaDPT" class="form-label">Tác giả</label>
                                        <input type="text" class="form-control field-input" id="tacGiaDPT" placeholder="Nhập tác giả..." autocomplete="off" />
                                    </div>
        
                                    <div class="form-group col-lg-6 col-md-12">
                                        <label for="thuTuDPT" class="form-label">Thứ tự</label>
                                        <input type="text" class="form-control field-input" id="thuTuDPT" placeholder="Nhập thứ tự..." autocomplete="off" />
                                    </div>

                                    <div class="form-group col-lg-6 col-md-12">
                                        <label>Trạng thái <span class="text-danger">*</span></label>
                                        <div class="div_radiobox">
                                            <div class="groupradiobox">
                                                <input class="form-check-input" type="radio" name="trangThaiDPT" id="trangThaiDuyetFileEdit" value="1" checked>
                                                <label class="form-check-label" for="trangThaiDuyetFileEdit">Sử dụng</label>
                                            </div>
                                            <div class="groupradiobox">
                                                <input class="form-check-input" type="radio" name="trangThaiDPT" id="trangThaiChuaDuyetFileEdit" value="0">
                                                <label class="form-check-label" for="trangThaiChuaDuyetFileEdit">Không sử dụng</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Đa ngữ -->
                        <div class="DaNgu">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="form-group">
                                        <label for="ngonNguDPT">Ngôn ngữ dịch <span class="text-danger">*</span></label>
                                        <select class="form-control" id="ngonNguDPT">
                                            <option value="">Chọn ngôn ngữ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12">
                                    <div class="form-group">
                                        <label for="tieuDeDPT">Tiêu đề <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="tieuDeDPT" placeholder="Nhập tiêu đề file..." />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="moTaDPT">Mô tả <span class="text-danger">*</span></label>
                                        <textarea class="form-control" id="moTaDPT" rows="3" placeholder="Nhập mô tả"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Huỷ bỏ</button>
                        <button type="sumbit" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
    @await Html.PartialAsync("~/Areas/AdminTool/Views/Shared/_PartialView/ModalDelete.cshtml")
</div>

@section Scripts {
    <script>
        const isEdit = @Html.Raw(ViewBag.IsEdit ? "true" : "false");
        const LeHoiId = '@ViewBag.LeHoiId';
    </script>
    <script src="~/PageScripts/admin/LeHoi/Edit.js" asp-append-version="true"></script>
}
