@{
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

<div class="trang-chu">
  <div class="header">
    <div class="logo">
      <div class="logo2">
        <img class="logo-1" src="/assets/images/AI_Layout/logo-10.png" />
      </div>
    </div>
    <div class="navigation">
      <div class="menu-item">
        <div class="bg-active"></div>
        <div class="menu-item2">Trang chủ</div>
      </div>
      <div class="menu-item">
        <div class="menu-item2">Văn hóa</div>
      </div>
      <div class="menu-item">
        <div class="menu-item2">Du lịch</div>
      </div>
      <div class="menu-item">
        <div class="menu-item2">Thể thao</div>
      </div>
      <div class="menu-item">
        <div class="menu-item2">Báo chí - Xuất bản</div>
      </div>
      <div class="menu-item">
        <div class="menu-item2">Thống kê</div>
      </div>
    </div>
    <div class="group">
      <div class="language">
        <img class="vietnam" src="/assets/images/AI_Layout/vietnam0.svg" />
        <div class="united-kingdom">
          <img class="vector" src="/assets/images/AI_Layout/vector0.svg" />
          <img class="group2" src="/assets/images/AI_Layout/group1.svg" />
          <img class="group3" src="/assets/images/AI_Layout/group2.svg" />
        </div>
      </div>
      <div class="button">
        <img class="user-03-filled" src="/assets/images/AI_Layout/user-03-filled0.svg" />
        <div class="ng-nh-p">Đăng nhập</div>
      </div>
    </div>
  </div>
  <div class="hero-banner">
    <img class="image" src="/assets/images/AI_Layout/image0.png" />
    <div class="dot-slide">
      <div class="dot"></div>
      <div class="dot2"></div>
      <div class="dot2"></div>
      <div class="dot2"></div>
    </div>
    <div class="content">
      <div class="c-s-d-li-u-v-n-h-a-th-thao-du-l-ch-t-nh-s-n-la">
        Cơ sở dữ liệu Văn hóa – Thể thao – Du lịch tỉnh Sơn La
      </div>
      <div
        class="gi-p-du-kh-ch-d-d-ng-kh-m-ph-di-s-n-l-h-i-th-thao-v-du-l-ch-k-t-n-i-c-ng-ng-v-i-s-n-la-hi-n-i-gi-u-b-n-s-c"
      >
        Giúp du khách dễ dàng khám phá di sản, lễ hội, thể thao và du lịch,
        <br />
        kết nối cộng đồng với Sơn La hiện đại, giàu bản sắc.
      </div>
    </div>
  </div>
  <div class="staticstic">
    <div class="item">
      <img class="pavilon-duotone" src="/assets/images/AI_Layout/pavilon-duotone0.svg" />
      <div class="content2">
        <div class="_157">157</div>
        <div class="di-t-ch-v-n-h-a-l-ch-s">Di tích văn hóa - lịch sử</div>
      </div>
    </div>
    <div class="item">
      <img class="ticket-star-duotone" src="/assets/images/AI_Layout/ticket-star-duotone0.svg" />
      <div class="content2">
        <div class="_12">12</div>
        <div class="l-h-i-l-n-m-i-n-m">Lễ hội lớn mỗi năm</div>
      </div>
    </div>
    <div class="item">
      <img
        class="maps-location-01-duotone"
        src="/assets/images/AI_Layout/maps-location-01-duotone0.svg"
      />
      <div class="content2">
        <div class="_132">132</div>
        <div class="i-m-n-du-l-ch">Điểm đến du lịch</div>
      </div>
    </div>
    <div class="item">
      <img class="building-03-duotone" src="/assets/images/AI_Layout/building-03-duotone0.svg" />
      <div class="content2">
        <div class="_75">75</div>
        <div class="c-quan-b-o-ch">Cơ quan báo chí</div>
      </div>
    </div>
    <div class="item">
      <img class="swimming-duotone" src="/assets/images/AI_Layout/swimming-duotone0.svg" />
      <div class="content2">
        <div class="_482">482</div>
        <div class="v-n-ng-vi-n">Vận động viên</div>
      </div>
    </div>
  </div>
  <div class="di-tich-section">
    <div class="col">
      <div class="title-card">
        <div class="title">
          <div class="di-t-ch-l-ch-s-v-n-h-a">
            <span>
              <span class="di-t-ch-l-ch-s-v-n-h-a-span">Di tích</span>
              <span class="di-t-ch-l-ch-s-v-n-h-a-span2"></span>
              <span class="di-t-ch-l-ch-s-v-n-h-a-span">lịch sử - văn hóa</span>
            </span>
          </div>
          <div
            class="s-n-la-l-v-ng-t-gi-u-truy-n-th-ng-v-i-nhi-u-di-t-ch-l-ch-s-v-n-h-a-ti-u-bi-u-t-nh-t-s-n-la-c-y-o-t-hi-u-n-c-c-hang-ng-di-ch-kh-o-c-v-b-n-l-ng-d-n-t-c-t-o-n-n-b-c-tranh-di-s-n-a-d-ng-c-o-g-p-ph-n-l-m-n-n-b-n-s-c-ri-ng-c-a-s-n-la"
          >
            Sơn La là vùng đất giàu truyền thống với nhiều di tích lịch sử - văn
            hóa tiêu biểu, từ Nhà tù Sơn La, cây đào Tô Hiệu đến các hang động,
            di chỉ khảo cổ và bản làng dân tộc, tạo nên bức tranh di sản đa
            dạng, độc đáo, , góp phần làm nên bản sắc riêng của Sơn La.
          </div>
        </div>
        <div class="button2">
          <div class="xem-th-m-c-c-di-t-ch-kh-c">Xem thêm các di tích khác</div>
          <img class="arrow-right" src="/assets/images/AI_Layout/arrow-right0.svg" />
        </div>
      </div>
      <div class="item-card">
        <img class="image2" src="/assets/images/AI_Layout/image1.png" />
        <div class="title2">
          <div class="nh-t-s-n-la">Nhà tù Sơn La</div>
        </div>
        <div class="border-image"></div>
      </div>
    </div>
    <div class="col">
      <div class="item-card2">
        <img class="image2" src="/assets/images/AI_Layout/image2.png" />
        <div class="title3">
          <div class="c-ch-m-ng-vi-t-nam-l-o">Cách mạng Việt Nam - Lào</div>
          <div
            class="khu-di-t-ch-l-ch-s-c-ch-m-ng-vi-t-nam-l-o-c-x-y-d-ng-t-i-b-n-lao-kh-x-phi-ng-kho-i-huy-n-y-n-ch-u-c-ch-trung-t-m-huy-n-g-n-30-km-c-ng-tr-nh-l-bi-u-t-ng-c-a-t-nh-o-n-k-t-c-bi-t-gi-a-hai-d-n-t-c-n-i-ghi-d-u-vi-c-x-y-d-ng-c-s-v-ho-t-ng-c-ch-m-ng-c-a-ban-xung-phong-l-o-b-c-v-l-nh-t-cay-x-n-ph-m-vi-h-n"
          >
            Khu di tích lịch sử cách mạng Việt Nam – Lào được xây dựng tại bản
            Lao Khô, xã Phiêng Khoài, huyện Yên Châu, cách trung tâm huyện gần
            30 km. Công trình là biểu tượng của tình đoàn kết đặc biệt giữa hai
            dân tộc, nơi ghi dấu việc xây dựng cơ sở và hoạt động cách mạng của
            Ban Xung phong Lào - Bắc và lãnh tụ Cay-xỏn Phôm-vi-hản.
          </div>
          <div class="button3">
            <div class="xem-chi-ti-t">Xem chi tiết</div>
            <img class="arrow-right2" src="/assets/images/AI_Layout/arrow-right1.svg" />
          </div>
        </div>
        <div class="border-image2"></div>
      </div>
      <div class="item-card3">
        <img class="image2" src="/assets/images/AI_Layout/image3.png" />
        <div class="title2">
          <div class="v-n-bia-qu-l-m-ng-ch-n-th-vua-l-th-i-t-ng">
            Văn bia Quế Lâm ngự chế
            <br />
            Đền thờ Vua Lê Thái Tông.
          </div>
        </div>
        <div class="border-image"></div>
      </div>
    </div>
    <div class="col">
      <div class="item-card3">
        <img class="image2" src="/assets/images/AI_Layout/image4.png" />
        <div class="title2">
          <div class="th-c-d-i-y-m">Thác Dải Yếm</div>
        </div>
        <div class="border-image"></div>
      </div>
      <div class="item-card">
        <img class="image2" src="/assets/images/AI_Layout/image5.png" />
        <div class="title2">
          <div class="k-i-thu-n-ch-u">Kỳ đài Thuận Châu</div>
        </div>
        <div class="border-image"></div>
      </div>
    </div>
  </div>
  <div class="tien-ich-du-lich-section">
    <div class="categories">
      <div class="item2">
        <div class="icon">
          <img class="noodles-duotone" src="/assets/images/AI_Layout/noodles-duotone0.svg" />
        </div>
        <div class="nh-h-ng-qu-n-n">Nhà hàng/quán ăn</div>
      </div>
      <div class="item2">
        <div class="icon">
          <img class="water-polo-duotone" src="/assets/images/AI_Layout/water-polo-duotone0.svg" />
        </div>
        <div class="th-thao">Thể thao</div>
      </div>
      <div class="item2">
        <div class="icon">
          <img class="wellness-duotone" src="/assets/images/AI_Layout/wellness-duotone0.svg" />
        </div>
        <div class="ch-m-s-c-s-c-kh-e">Chăm sóc sức khỏe</div>
      </div>
      <div class="item2">
        <div class="icon">
          <img class="bus-01-duotone" src="/assets/images/AI_Layout/bus-01-duotone0.svg" />
        </div>
        <div class="v-n-t-i">Vận tải</div>
      </div>
      <div class="item2">
        <div class="icon">
          <img class="music-note-01-duotone" src="/assets/images/AI_Layout/music-note-01-duotone0.svg" />
        </div>
        <div class="vui-ch-i-gi-i-tr">Vui chơi, giải trí</div>
      </div>
      <div class="item2">
        <div class="icon">
          <img
            class="shopping-basket-favorite-03-duotone"
            src="/assets/images/AI_Layout/shopping-basket-favorite-03-duotone0.svg"
          />
        </div>
        <div class="mua-s-m">Mua sắm</div>
      </div>
      <div class="item2">
        <div class="icon">
          <img class="hotel-02-duotone" src="/assets/images/AI_Layout/hotel-02-duotone0.svg" />
        </div>
        <div class="l-u-tr">Lưu trú</div>
      </div>
    </div>
    <div class="item-list">
      <div class="item-card4">
        <img class="image2" src="/assets/images/AI_Layout/image6.png" />
        <div class="title4">
          <div class="nh-h-ng-qu-n-n2">Nhà hàng/Quán ăn</div>
          <div class="nh-h-ng-ng-h-i">Nhà hàng Đông Hải</div>
        </div>
      </div>
      <div class="item-card4">
        <img class="image2" src="/assets/images/AI_Layout/image7.png" />
        <div class="title4">
          <div class="l-u-tr2">Lưu trú</div>
          <div class="kh-ch-s-n-m-ng-thanh">Khách sạn Mường Thanh</div>
        </div>
      </div>
      <div class="item-card4">
        <img class="image2" src="/assets/images/AI_Layout/image8.png" />
        <div class="content3">
          <div class="title5">
            <div class="nh-h-ng-qu-n-n2">Nhà hàng/Quán ăn</div>
            <div class="nh-h-ng-su-i-h-n">Nhà Hàng Suối Hẹn</div>
          </div>
          <div
            class="su-i-h-n-l-m-t-trong-nh-ng-nh-h-ng-s-n-la-hi-m-hoi-c-nh-gi-t-t-kh-ng-gian-nh-h-ng-r-ng-r-i-n-i-y-nh-n-t-ch-c-ti-c-li-n-hoan-h-i-ngh-c-c-o-n-kh-ch-du-l-ch-t-300-ng-i-c-nhu-c-u-t-b-n-nh-h-ng-u-s-c-ph-c-v-chu-o-nhi-t-t-nh-menu-n-a-d-ng-v-i-m-th-c-t-y-b-c-v-m-t-s-m-n-n-quen-thu-c-v-i-ng-i-d-n-mi-n-b-c-c-ch-ch-c-a-b-p-nh-h-ng-su-i-h-n-c-nh-gi-ngon-ph-h-p-kh-u-v-a-s-th-c-kh-ch-gi-c-h-p-l"
          >
            Suối hẹn là một trong những nhà hàng ở Sơn la hiếm hoi được đánh giá
            tốt. Không gian nhà hàng rộng rãi, nơi đây nhận tổ chức tiệc liên
            hoan hội nghị, các đoàn khách du lịch từ 300 người có nhu cầu đặt
            bàn ở nhà hàng đều sẽ được phục vụ chu đáo nhiệt tình. Menu đồ ăn đa
            dạng với ẩm thực Tây Bắc và một số món ăn quen thuộc với người dân
            miền Bắc. Cách chế của bếp ở nhà hàng Suối Hẹn được đánh giá ngon,
            phù hợp khẩu vị đa số thực khách, giá cả hợp lý.
          </div>
          <div class="button3">
            <div class="xem-chi-ti-t">Xem chi tiết</div>
            <img class="arrow-right3" src="/assets/images/AI_Layout/arrow-right2.svg" />
          </div>
        </div>
      </div>
      <div class="item-card4">
        <img class="image2" src="/assets/images/AI_Layout/image9.png" />
        <div class="title4">
          <div class="mua-s-m2">Mua sắm</div>
          <div class="vincom-plaza-s-n-la">Vincom Plaza Sơn La</div>
        </div>
      </div>
    </div>
  </div>
  <div class="search-section">
    <div class="container">
      <img class="pattern" src="/assets/images/AI_Layout/pattern0.png" />
      <div class="pattern2"></div>
      <div class="tra-c-u-th-ng-tin-d-li-u">Tra cứu thông tin dữ liệu</div>
      <div class="search-form">
        <div class="text-input">
          <div class="label-text">
            <div class="label">Lĩnh vực</div>
          </div>
          <div class="input">
            <div class="placeholder-text">
              <div class="placeholder-text2">Tất cả</div>
            </div>
            <img class="arrow-down-01" src="/assets/images/AI_Layout/arrow-down-010.svg" />
          </div>
        </div>
        <div class="text-input">
          <div class="label-text">
            <div class="label">Đối tượng</div>
          </div>
          <div class="input2">
            <div class="placeholder-text">
              <div class="placeholder-text2">Tất cả</div>
            </div>
            <img class="arrow-down-012" src="/assets/images/AI_Layout/arrow-down-011.svg" />
          </div>
        </div>
        <div class="text-input2">
          <div class="label-text">
            <div class="label">Từ khóa</div>
          </div>
          <div class="input2">
            <img class="search" src="/assets/images/AI_Layout/search0.svg" />
            <div class="placeholder-text">
              <div class="placeholder-text3">Nhập từ khóa tìm kiếm...</div>
            </div>
          </div>
        </div>
        <div class="button4">
          <div class="t-m-ki-m">Tìm kiếm</div>
          <img class="search2" src="/assets/images/AI_Layout/search1.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="an-pham-section">
    <div class="n-ph-m-xu-t-b-n">Ấn phẩm xuất bản</div>
    <div class="all-hello-world">
      <div class="hello-world">
        <img class="image3" src="/assets/images/AI_Layout/image10.png" />
        <div class="tin-nh-s-n-la-ng-y-15-8-2025">
          Tin ảnh sơn La, ngày 15/8/2025
        </div>
      </div>
      <div class="hello-world">
        <img class="image3" src="/assets/images/AI_Layout/image11.png" />
        <div class="s-c-bi-t-k-ni-m-100-n-m-ng-y-b-o-ch-c-ch-m-ng-vi-t-nam">
          Số đặc biệt Kỷ niệm 100 năm Ngày báo chí cách mạng Việt Nam
        </div>
      </div>
      <div class="hello-world2">
        <img class="image4" src="/assets/images/AI_Layout/image12.png" />
        <div class="b-o-s-n-la-th-5-ng-y-11-9-2025">
          Báo Sơn La, thứ 5, ngày 11/9/2025
        </div>
      </div>
      <div class="hello-world">
        <img class="image3" src="/assets/images/AI_Layout/image13.png" />
        <div class="t-p-ch-su-i-reo-s-211">Tạp chí Suối Reo số 211</div>
      </div>
      <div class="hello-world">
        <img class="image3" src="/assets/images/AI_Layout/image14.png" />
        <div class="b-o-xu-n-t-t-2025">Báo Xuân Ất Tỵ 2025</div>
      </div>
      <div class="dot-slide2">
        <img class="arrow-left" src="/assets/images/AI_Layout/arrow-left0.svg" />
      </div>
      <div class="dot-slide3">
        <img class="arrow-right4" src="/assets/images/AI_Layout/arrow-right3.svg" />
      </div>
    </div>
  </div>
  <div class="maps-section">
    <img class="maps" src="/assets/images/AI_Layout/maps0.png" />
    <img class="layer" src="/assets/images/AI_Layout/layer0.svg" />
    <div class="maps-layer">
      <div class="modal-header">
        <div class="close-button">
          <img class="cancel-01" src="/assets/images/AI_Layout/cancel-010.svg" />
        </div>
        <div class="logo3">
          <div class="b-n-v-n-h-a-th-thao-v-du-l-ch">
            BẢN ĐỒ Văn hóa, Thể thao và Du lịch
          </div>
          <div class="t-nh-s-n-la">tỉnh Sơn La</div>
        </div>
      </div>
      <div class="body-modal">
        <div class="list">
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled"
                src="/assets/images/AI_Layout/checkmark-square-02-filled0.svg"
              />
            </div>
            <div class="v-n-h-a">Văn hóa</div>
            <img class="arrow-up-01" src="/assets/images/AI_Layout/arrow-up-010.svg" />
          </div>
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled2"
                src="/assets/images/AI_Layout/checkmark-square-02-filled1.svg"
              />
            </div>
            <div class="di-t-ch-l-ch-s-v-n-h-a2">Di tích lịch sử văn hóa</div>
            <img class="arrow-up-012" src="/assets/images/AI_Layout/arrow-up-011.svg" />
          </div>
          <div class="item4">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled3"
                src="/assets/images/AI_Layout/checkmark-square-02-filled2.svg"
              />
            </div>
            <div class="circle"></div>
            <div class="l-ch-s-v-n-h-a">Lịch sử - Văn hóa</div>
          </div>
          <div class="item4">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled4"
                src="/assets/images/AI_Layout/checkmark-square-02-filled3.svg"
              />
            </div>
            <div class="circle2"></div>
            <div class="danh-lam-th-ng-c-nh">Danh lam thắng cảnh</div>
          </div>
          <div class="item4">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled5"
                src="/assets/images/AI_Layout/checkmark-square-02-filled4.svg"
              />
            </div>
            <div class="circle3"></div>
            <div class="ki-n-tr-c-ngh-thu-t">Kiến trúc nghệ thuật</div>
          </div>
          <div class="item4">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled6"
                src="/assets/images/AI_Layout/checkmark-square-02-filled5.svg"
              />
            </div>
            <div class="circle4"></div>
            <div class="kh-o-c">Khảo cổ</div>
          </div>
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled7"
                src="/assets/images/AI_Layout/checkmark-square-02-filled6.svg"
              />
            </div>
            <div class="circle5"></div>
            <div class="n-v-ngh-thu-t">Đơn vị nghệ thuật</div>
          </div>
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled8"
                src="/assets/images/AI_Layout/checkmark-square-02-filled7.svg"
              />
            </div>
            <div class="circle6"></div>
            <div class="s-ki-n">Sự kiện</div>
          </div>
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled9"
                src="/assets/images/AI_Layout/checkmark-square-02-filled8.svg"
              />
            </div>
            <div class="circle7"></div>
            <div class="l-h-i">Lễ hội</div>
          </div>
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled10"
                src="/assets/images/AI_Layout/checkmark-square-02-filled9.svg"
              />
            </div>
            <div class="circle8"></div>
            <div class="th-vi-n">Thư viện</div>
          </div>
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled11"
                src="/assets/images/AI_Layout/checkmark-square-02-filled10.svg"
              />
            </div>
            <div class="circle9"></div>
            <div class="b-o-t-ng">Bảo tàng</div>
          </div>
        </div>
        <div class="list">
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled12"
                src="/assets/images/AI_Layout/checkmark-square-02-filled11.svg"
              />
            </div>
            <div class="th-thao2">Thể thao</div>
            <img class="arrow-up-013" src="/assets/images/AI_Layout/arrow-up-012.svg" />
          </div>
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled13"
                src="/assets/images/AI_Layout/checkmark-square-02-filled12.svg"
              />
            </div>
            <img class="polygon" src="/assets/images/AI_Layout/polygon0.svg" />
            <div class="li-n-o-n-th-thao">Liên đoàn thể thao</div>
          </div>
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled14"
                src="/assets/images/AI_Layout/checkmark-square-02-filled13.svg"
              />
            </div>
            <img class="polygon2" src="/assets/images/AI_Layout/polygon1.svg" />
            <div class="hi-p-h-i-th-thao">Hiệp hội thể thao</div>
          </div>
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled15"
                src="/assets/images/AI_Layout/checkmark-square-02-filled14.svg"
              />
            </div>
            <img class="polygon3" src="/assets/images/AI_Layout/polygon2.svg" />
            <div class="h-i-th-thao">Hội thể thao</div>
          </div>
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled16"
                src="/assets/images/AI_Layout/checkmark-square-02-filled15.svg"
              />
            </div>
            <img class="polygon4" src="/assets/images/AI_Layout/polygon3.svg" />
            <div class="a-i-m-th-thao">Địa điểm thể thao</div>
          </div>
        </div>
        <div class="list">
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled17"
                src="/assets/images/AI_Layout/checkmark-square-02-filled16.svg"
              />
            </div>
            <div class="du-l-ch">Du lịch</div>
            <img class="arrow-up-014" src="/assets/images/AI_Layout/arrow-up-013.svg" />
          </div>
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled18"
                src="/assets/images/AI_Layout/checkmark-square-02-filled17.svg"
              />
            </div>
            <div class="khu-du-l-ch-i-m-du-l-ch">Khu du lịch, điểm du lịch</div>
            <img class="arrow-up-015" src="/assets/images/AI_Layout/arrow-up-014.svg" />
          </div>
          <div class="item4">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled19"
                src="/assets/images/AI_Layout/checkmark-square-02-filled18.svg"
              />
            </div>
            <div class="round"></div>
            <div class="khu-du-l-ch">Khu du lịch</div>
          </div>
          <div class="item4">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled20"
                src="/assets/images/AI_Layout/checkmark-square-02-filled19.svg"
              />
            </div>
            <div class="round2"></div>
            <div class="i-m-du-l-ch">Điểm du lịch</div>
          </div>
          <div class="item4">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled21"
                src="/assets/images/AI_Layout/checkmark-square-02-filled20.svg"
              />
            </div>
            <div class="round3"></div>
            <div class="tour-du-l-ch">Tour du lịch</div>
          </div>
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled22"
                src="/assets/images/AI_Layout/checkmark-square-02-filled21.svg"
              />
            </div>
            <div class="c-s-kinh-doanh-d-ch-v-du-l-ch">
              Cơ sở kinh doanh dịch vụ du lịch
            </div>
            <img class="arrow-up-016" src="/assets/images/AI_Layout/arrow-up-015.svg" />
          </div>
          <div class="item4">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled23"
                src="/assets/images/AI_Layout/checkmark-square-02-filled22.svg"
              />
            </div>
            <div class="round4"></div>
            <div class="n-u-ng">Ăn uống</div>
          </div>
          <div class="item4">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled24"
                src="/assets/images/AI_Layout/checkmark-square-02-filled23.svg"
              />
            </div>
            <div class="round5"></div>
            <div class="th-thao3">Thể thao</div>
          </div>
          <div class="item4">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled25"
                src="/assets/images/AI_Layout/checkmark-square-02-filled24.svg"
              />
            </div>
            <div class="round6"></div>
            <div class="ch-m-s-c-s-c-kh-e2">Chăm sóc sức khỏe</div>
          </div>
          <div class="item4">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled26"
                src="/assets/images/AI_Layout/checkmark-square-02-filled25.svg"
              />
            </div>
            <div class="round7"></div>
            <div class="v-n-t-i2">Vận tải</div>
          </div>
          <div class="item4">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled27"
                src="/assets/images/AI_Layout/checkmark-square-02-filled26.svg"
              />
            </div>
            <div class="round8"></div>
            <div class="vui-ch-i-gi-i-tr2">Vui chơi, giải trí</div>
          </div>
          <div class="item4">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled28"
                src="/assets/images/AI_Layout/checkmark-square-02-filled27.svg"
              />
            </div>
            <div class="round9"></div>
            <div class="mua-s-m3">Mua sắm</div>
          </div>
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled29"
                src="/assets/images/AI_Layout/checkmark-square-02-filled28.svg"
              />
            </div>
            <div class="round10"></div>
            <div class="c-s-l-u-tr-du-l-ch">Cơ sở lưu trú du lịch</div>
          </div>
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled30"
                src="/assets/images/AI_Layout/checkmark-square-02-filled29.svg"
              />
            </div>
            <div class="round11"></div>
            <div class="doanh-nghi-p-l-h-nh">Doanh nghiệp lữ hành</div>
          </div>
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled31"
                src="/assets/images/AI_Layout/checkmark-square-02-filled30.svg"
              />
            </div>
            <div class="ti-n-ch-kh-c">Tiện ích khác</div>
            <img class="arrow-up-017" src="/assets/images/AI_Layout/arrow-up-016.svg" />
          </div>
          <div class="item4">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled32"
                src="/assets/images/AI_Layout/checkmark-square-02-filled31.svg"
              />
            </div>
            <div class="round12"></div>
            <div class="v-sinh-c-ng-c-ng">Vệ sinh công cộng</div>
          </div>
          <div class="item4">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled33"
                src="/assets/images/AI_Layout/checkmark-square-02-filled32.svg"
              />
            </div>
            <div class="round13"></div>
            <div class="i-m-giao-d-ch">Điểm giao dịch</div>
          </div>
        </div>
        <div class="list">
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled34"
                src="/assets/images/AI_Layout/checkmark-square-02-filled33.svg"
              />
            </div>
            <div class="b-o-ch-xu-t-b-n">Báo chí - Xuất bản</div>
            <img class="arrow-up-018" src="/assets/images/AI_Layout/arrow-up-017.svg" />
          </div>
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled35"
                src="/assets/images/AI_Layout/checkmark-square-02-filled34.svg"
              />
            </div>
            <img class="polygon-5" src="/assets/images/AI_Layout/polygon-50.svg" />
            <div class="c-quan-b-o-ch2">Cơ quan báo chí</div>
          </div>
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled36"
                src="/assets/images/AI_Layout/checkmark-square-02-filled35.svg"
              />
            </div>
            <img class="polygon-52" src="/assets/images/AI_Layout/polygon-51.svg" />
            <div class="nh-xu-t-b-n">Nhà xuất bản</div>
          </div>
          <div class="item3">
            <div class="checkbox">
              <img
                class="checkmark-square-02-filled37"
                src="/assets/images/AI_Layout/checkmark-square-02-filled36.svg"
              />
            </div>
            <img class="polygon-53" src="/assets/images/AI_Layout/polygon-52.svg" />
            <div class="s-ki-n-ho-t-ng-b-o-ch">Sự kiện hoạt động báo chí</div>
          </div>
        </div>
      </div>
    </div>
    <div class="mini-maps">
      <img class="image5" src="/assets/images/AI_Layout/image15.png" />
      <div class="content4">
        <img class="layer2" src="/assets/images/AI_Layout/layer1.svg" />
        <div class="b-n-n-n">Bản đồ nền</div>
      </div>
    </div>
    <div class="button-group">
      <div class="button5">
        <img class="gps-01-filled" src="/assets/images/AI_Layout/gps-01-filled0.svg" />
      </div>
      <div class="zoom">
        <div class="button6">
          <img class="add-01-filled" src="/assets/images/AI_Layout/add-01-filled0.svg" />
        </div>
        <div class="button7">
          <img class="minus-sign-filled" src="/assets/images/AI_Layout/minus-sign-filled0.svg" />
        </div>
      </div>
    </div>
    <div class="search3">
      <div class="t-m-ki-m-tr-n-b-n">Tìm kiếm trên bản đồ...</div>
      <img class="search4" src="/assets/images/AI_Layout/search3.svg" />
    </div>
  </div>
  <div class="footer">
    <img class="bg" src="/assets/images/AI_Layout/bg0.png" />
    <div class="col2">
      <div class="logo4">
        <div class="logo5">
          <div class="logo6">
            <img class="logo-12" src="/assets/images/AI_Layout/logo-11.png" />
          </div>
        </div>
        <div class="logo7">
          <div class="trang-th-ng-tin">Trang thông tin</div>
          <div class="v-n-h-a-th-thao-v-du-l-ch">
            Văn hóa, Thể thao và Du lịch
          </div>
          <div class="t-nh-s-n-la2">tỉnh Sơn La</div>
        </div>
      </div>
      <div class="info">
        <div class="address">
          <img class="location-03-duotone" src="/assets/images/AI_Layout/location-03-duotone0.svg" />
          <div class="ng-khau-c-t-8-ph-ng-t-hi-u-th-nh-ph-s-n-la-t-nh-s-n-la">
            Đường Khau Cả, Tổ 8, Phường Tô Hiệu, Thành phố Sơn La, tỉnh Sơn La
          </div>
        </div>
        <div class="group4">
          <div class="phone">
            <img class="call-02-duotone" src="/assets/images/AI_Layout/call-02-duotone0.svg" />
            <div class="_0212-3852-270">(0212) 3852 270</div>
          </div>
          <div class="mail">
            <img class="mail-02-duotone" src="/assets/images/AI_Layout/mail-02-duotone0.svg" />
            <div class="svhttdl-sonla-gov-vn-vhttdlsl-gmail-com">
              svhttdl@sonla.gov.vn - vhttdlsl@gmail.com
            </div>
          </div>
        </div>
      </div>
      <div
        class="_2025-s-v-n-h-a-th-thao-v-du-l-ch-t-nh-s-n-la-thi-t-k-v-x-y-d-ng-hue-cit"
      >
        © 2025 Sở Văn hóa thể thao và Du lịch tỉnh Sơn La.
        <br />
        Thiết kế và xây dựng: HueCIT
      </div>
    </div>
    <div class="links">
      <div class="v-n-h-a2">Văn hóa</div>
      <div class="du-l-ch2">Du lịch</div>
      <div class="th-thao4">Thể thao</div>
      <div class="b-o-ch-xu-t-b-n2">Báo chí - Xuất bản</div>
      <div class="th-ng-k">Thống kê</div>
    </div>
  </div>
</div>

<script>
      
</script>